<section id="help-the-people">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="text-center">
          <div class="section-title">
            <h2>{{ content.field_title.0}}</h2>
            <div class="title-img"><img src="{{ url('<front>') }}/themes/yg_charity/images/line.gif" class="img-responsive" alt="title"></div>
          </div>
        </div>
      </div>
      <div id="help-the-people-services">
      <div class="col-xs-12 col-md-12 text-center">
           {{ content.field_help_lists}}
      </div>
     </div>
    </div>
  </div>
</section>
