<section id="events">
  <div class="container">
    <div class="row">
	    <div class="col-md-6">
	      	<div id="events-img">
		      <img src="{{content.field_icon_image.0}}" class="img-responsive">
		    </div>
	    </div>
	    <div class="col-md-6">
	    <div class="charity-events">
	    	{{ render_block ('views_block__events_block')}}
            </div>
           </div> 
	    </div>
    </div>
</section>

