<section id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="text-center">
          <div class="section-title">
            <h2>{{content.field_title.0}}</h2>
            <div class="title-img"><img src="{{ url('<front>') }}/themes/yg_charity/images/line.gif" class="img-responsive" alt="title"></div>
          </div>
      </div>
      <div class="col-md-6">
            {{content.field_body.0}}
      </div>

      <div class="col-md-6">
          <div id="about-img">
          <img src="{{content.field_icon_image.0}}" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

