<section id="donate-now">
<div class="container">
	<div class="row">
  <div class="section-title text-center">
          <h2>{{ content.field_title }}</h2>
          <div class="title-img"><img src="{{ url('<front>') }}/themes/yg_charity/images/line.gif" class="img-responsive" alt="title"></div>
        </div>
	<div class="form-layouts donate">
		{{ content.field_donate_form}}
	</div>
</div>
</div>
</section>
