<div class="col-md-4 col-sm-4 col-xs-12 panel-primary">
          <div class="panel-help">
            <div class="panel-body">
              <img src="{{content.field_icon_image.0}}">
              <p>{{content.field_title.0}}</p>
            </div>
          </div>  
        </div> 
